[submodule "tools/drwatson/drwatson"]
	path = tools/drwatson/drwatson
	url = https://github.com/Zubax/drwatson
[submodule "tools/drwatson/pyuavcan"]
	path = tools/drwatson/pyuavcan
	url = https://github.com/uavcan/pyuavcan
